<div class="container">
  <div class="jumbotron">
    <h1>Movie Awesome</h1>
    <p class="lead">Find a movie to watch by starting from a movie you liked.</p>
    <p>The recommendations engine was built with Neo4j, IMDBPy etc. (Read more here)</p>
  </div>

  <div class="main">
    {{outlet}}
  </div>

  <div class="footer">
    <p>© Awesome Corporation 2013</p>
  </div>
</div>
