<iframe width="100%" height="100%" {{bind-attr src="youtubeSrc"}} frameborder="0" allowfullscreen></iframe>
<div class="main">
  <h1>Movie Awesome</h1>

  <div class="jumbotron container">
    <div class="main">
      {{outlet}}
    </div>
  </div>

  <footer>© Awesome Corporation 2013</footer>
</div>
