<div class="container">
  <div class="jumbotron">
    <h1>Movie Awesome</h1>
    <p class="lead">A movie recommendations engine built with using Neo4j, IMDBPy etc.</p>
  </div>

  {{outlet}}

  <div class="footer">
    <p>© Awesome Corporation 2013</p>
  </div>
</div>
