// Place all the styles related to the Assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

iframe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

h1 {
  font-family: 'Galindo', cursive;
  position: fixed;
  top: 0;
  left: 10;
  color: #fff;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-top: 5px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  color: #fff;
  padding-right: 5px;
}

li {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.jumbotron {
  background-color: transparent !important;
}

.search {
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
  padding: 20px;
  //background-color: #f1f1f1;
  opacity: 0.15;
  &:hover {
    opacity: 1;
  }
}
.movie-autocomplete {
  background-color: #fff;
}

.find-recommendations {
  margin-left: 10px;
}
